<!DOCTYPE html>
<html>
    <head> 
        <title>{% block title %}| TITLE{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
		{# <link rel="shortcut icon" href="{{ url('template') }}/img/favicon.ico" type="image/x-icon"> #}
		<link rel="stylesheet" href="{{ url('assets') }}css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url('template') }}/css/salesPage.css?v1.0.0" type="text/css" >
		<script src="{{ url('assets') }}js/bootstrap.min.js"></script>	
	{% block head %}{% endblock %}
</head>

<body>
	{{ include('navbarSP.html.twig') }}
	{% block body %}
		<div class="container" style="margin-top:50px;">
		{% block content %}{% endblock %}
	</div>
{% endblock %}

{% block footer %}
	{{ include('footerSP.html.twig') }}
{% endblock %}
</body>
</html>