{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - klasy{% endblock %}

{% block content %}
       <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Szkoła
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url('Home/index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="{{ url('School/index') }}"><i class="fa"></i>Szkoła</a></li>
                <li><a href="{{ url('School/classes') }}"><i class="fa"></i>Klasy</a></li>
                <li class="active">Dodaj nową</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="ion ion-clipboard"></i>
                    <h3 class="box-title">Dodaj klasę</h3>
                </div><!-- /.box-header -->
                <div class="box-body">

                    <form name="inputform" method="POST" action="{{ url('School/classes', {'action': 'add'}) }}">


                        <div class="input-group">
                            <span class="input-group-addon" >Nazwa klasy:</span>
                            <input type="text" name="name" value="" class="form-control" style="width:250px;" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Rok szkolny:</span>

                            <select name="year" class="form-control" style="width:250px">
                                {% for y in years %}
                                    <option value="{{ y.id }}">{{ y.fromYear }}/{{ y.toYear }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="box-footer clearfix no-border">
                            <input type="submit" name="save" value="Zapisz" class="btn btn-default pull-right" />
                        </div>

                    </form>
                </div><!-- /.box-body -->




            </div><!-- /.box -->


        </section><!-- /.Left col -->

    </div><!-- /.row (main row) -->

</section><!-- /.content -->
</div><!-- /.content-wrapper -->


{% endblock %}
