{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - nauczyciele{% endblock %}




{% block content %}

    {% if info != 'brak' %}
        {% if info.col == 'red' %}               
            <div class="alert alert-danger" role="alert">
            {% else %}
                <div class="alert alert-success" role="alert">
                {% endif %}

                {{ info.inf }}
            </div>
        {% endif %}


            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Nauczyciele
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- TO DO List -->
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="ion ion-clipboard"></i>
                        <h3 class="box-title">Lista nauczycieli</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <ul class="todo-list">
                            {% for t in teachers %}
                                <li>
                                    <!-- drag handle -->
                                    <span class="handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>
                                    <!-- checkbox -->
                                    <input type="checkbox" value="" name=""/>
                                    <!-- todo text -->
                                    <span class="text">{{ t.givenName }} {{ t.familyName }} ({{ t.username }}) e-mail: {{ t.email }}</span>
                                    <!-- General tools such as edit or delete-->
                                    <div class="tools">
                                        <a href="{{ url('School/teacherEdit', {'info': t.id}) }}" class="fa fa-edit"></a>
                                        <a href="{{ url('School/teachers', {'action': 'del', 'id': t.id}) }}" class="fa fa-trash-o"></a>
                                    </div>
                                </li>
                            {% else %}
                                <li>
                                    <span class="text">Brak nauczycieli w bazie</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div><!-- /.box-body -->

                    <div class="box-footer clearfix no-border">
                        <a href="{{ url('School/teacherEdit') }}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Dodaj nowego</a>
                    </div>
                </div><!-- /.box -->


            </section><!-- /.Left col -->
        <script type="text/javascript">
            $("#school-category-sidebar, #teachers-sidebar").addClass("treeview active");
        </script>

{% endblock %}
