{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - klasy{% endblock %}
{% block head %}
    <link href="{{ url('template') }}/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Klasa {{ class.name }}</h1>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header">
                <a class="btn btn-default" href="#">Dodaj ucznia</a>
                <a class="btn btn-default" href="#">Usuń ucznia</a>
            </div>
            <div class="box-body">
                <div id="students-table_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-xs-6"></div><div class="col-xs-6"></div></div>

                    <table id="students-table" class="table table-bordered table-hover dataTable" aria-describedby="students-table_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="students-table" rowspan="1" colspan="1" >Imię</th>
                                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="students-table" rowspan="1" colspan="1" aria-sort="ascending">Nazwisko</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="students-table" rowspan="1" colspan="1">Nick</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="students-table" rowspan="1" colspan="1">E-mail</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="students-table" rowspan="1" colspan="1">Miejsce urodzenia</th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for student in class.students %}
                                <tr class="odd">
                                    <td class="">{{ student.givenName }}</td>
                                    <td class=" sorting_1">{{ student.familyName }}</td>
                                    <td class="">{{ student.username }}</td>
                                    <td class="">{{ student.email }}</td>
                                    <td class=" ">{{ student.birthplace }}</td>
                                </tr>
                            {% endfor %}
                        </tbody></table>

                </div>
            </div>

        </div>

    </section>
    <script src="{{ url('template') }}/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="{{ url('template') }}/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#example1").dataTable();
            $('#students-table').dataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false
            });
            $("#classes-category-sidebar").addClass("treeview active");
        });
    </script>
{% endblock %}