{% extends './base.html.twig' %}

{% block title %}eDziennik AMN - klasy{% endblock %}

{% block head %}
    <style type="text/css">
        .content {
            margin-top: 60px;
        }
    </style>
{% endblock %}



{% block content %}
    {% if info != 'brak' %}
        {% if info.col == 'red' %}               
            <div class="alert alert-danger" role="alert">
        {% else %}
            <div class="alert alert-success" role="alert">
        {% endif %}

        {{ info.inf }}
        </div>
    {% endif %}

        <a href="{{ url('Subjects/prepare') }}">Dodaj nowy</a><hr />
        {% for c in subjects %}
            {{ c.subject }} <a href="{{ url('Subjects/index') }}/del/{{ c.subject_id }}">[usuń]</a><br />
        {% else %}
            Brak klas
        {% endfor %}

    {% endblock %}
